body {
color:black;
background-color:lightgrey;
font-family: "Times New Roman", Times, serif;
}

h1, h2, h3 {
color:white;
text-shadow:2px 1px black;
}

a {
color:red;
}


a:hover {
color:black;
background-color:yellow;
}

pre {
background-color: cyan;
border:1px solid black;
}
